@font-face {
    font-family: 'PN-E';
    src: url('../fonts/ProximaNovaA-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Extrabld.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'PN-B';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'PN-R';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'l';
    src: url('../fonts/LaloGroteskRegular.woff2') format('woff2'),
        url('../fonts/LaloGroteskRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'lm';
    src: url('../fonts/LaloGroteskMedium.woff2') format('woff2'),
        url('../fonts/LaloGroteskMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'h';
    src: url('../fonts/HansonBold.woff2') format('woff2'),
        url('../fonts/HansonBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

